.wps-slider,
.wps-banner {
  margin-top: 90px;
}

.wps-slider-button {
  background: lightgray;
  width: 50%;
}

.carousel-indicators .active {
  background-color: #6168d1 !important;
}

.title {
  color: #3737ff;
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
}

.link-custom {
  text-decoration: none;
  color: black;
}

section#services .accordion-custom {
  height: 400px;
  overflow: auto;
}

section.news img {
  width: 100% !important;
}

div.blog {
  margin-top: 100px;
  height: 500px;
  min-height: 0;
}

div.blog .swiper-container {
  height: 100%;
}

div.blog .judul {
  position: absolute;
  top: 50%;
  color: white;
  left: 10%;
}

div.blog .tanggal {
  position: absolute;
  top: 45%;
  color: white;
  left: 10%;
}

div.blog .swiper-slide {
  height: 500px;
}

div.blog .gambar {
  width: 100%;
  filter: brightness(0.4);
  height: 100%;
}

.selengkapnya {
  position: absolute;
  left: 10%;
  top: 65%;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

.selengkapnya:hover {
  color: black;
}

div.blog .swiper-pagination {
  bottom: 10%;
  left: 45%;
}

div.blog .swiper-pagination-bullet {
  margin-right: 10px;
  background: white;
}

div.blog .swiper-pagination-bullet-active {
  background: red;
}

.blog-active {
  color: red;
}

.selengkapnya-lain {
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 10px;
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  div.blog {
    height: 300px;
  }

  div.blog .tanggal {
    top: 20%;
    font-size: 10px;
    left: 5%;
  }

  div.blog .judul {
    top: 25%;
    font-size: 12px;
    left: 5%;
  }

  div.blog .selengkapnya {
    top: 30%;
    padding: 5px 20px;
    font-size: 12px;
    left: 5%;
  }

  div.blog .swiper-pagination {
    top: 35%;
    left: 40%;
  }
}

@media (max-width: 576px) {
  .wps-slider-button {
    width: 80%;
  }

  div.blog {
    height: 200px;
  }

  div.blog .swiper-slide {
    height: 200px;
  }

  div.blog .tanggal {
    top: 30%;
    font-size: 10px;
    left: 5%;
  }

  div.blog .judul {
    top: 40%;
    font-size: 12px;
    left: 5%;
  }

  div.blog .selengkapnya {
    top: 60%;
    padding: 5px 20px;
    font-size: 12px;
    left: 5%;
  }

  div.blog .swiper-pagination {
    top: 30%;
    left: 40%;
  }
}
