.wps-slider,
.wps-banner {
  margin-top: 90px;
}

.wps-slider-button {
  background: lightgray;
  width: 50%;
}

.carousel-indicators .active {
  background-color: #6168d1 !important;
}

.title {
  color: #3737ff;
  text-decoration: underline;
}

.text-justify {
  text-align: justify;
}

.link-custom {
  text-decoration: none;
  color: black;
}

section#services .accordion-custom {
  height: 400px;
  overflow: auto;
}

section.news img {
  width: 100% !important;
}

@media (max-width: 576px) {
  .wps-slider-button {
    width: 80%;
  }
}
